.pitchScale {
  z-index: 4;
  position: absolute;
  width: 60%;
  top: 51%;
  left: 20%;
}

.pitchLine {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
  text-align: end;
  font-size: 12px;
  font-weight: bold;
  color: rgb(139, 135, 135);
}